@mixin h() {
    font-family: Archangelsk, sans-serif;
    font-weight: normal;
    font-size: 62px;
    margin: 0;
}

@mixin photoTransform() {
    clip-path: polygon(8% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 15%);
}

body {
    margin: 0;
    padding: 0;
    width: auto;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: 1000px;
    
    &::before {
        content: " ";
        z-index: -200;
        position: absolute;
        width: 100%;
        height: 1000px;
        top: 0;
        left: 0;
        background: url("../../images/background1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .header-main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .links {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }

    .header-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50%;
        padding: 70px;
        background-color: #F8F200;
        @include photoTransform();
        background-repeat: no-repeat;

        h1 {
            @include h();
        }

        .about-button {
            margin-top: 25px;

            a {
                margin-top: 44px;
                padding: 19px 50px;
                background-color: black;
                font-family: Roboto-Bold, sans-serif;
                font-size: 24px;
                font-weight: bold;       
                text-wrap: nowrap;
                color: #F8F200;
                text-decoration: none;
            }
        }
    }  
}

.about {
    margin: 70px auto;
    width: 80%;
    background-color: #FFF;

    h1 {
        margin-left: auto;
        margin-right: auto;
        @include h();
    }

    .about-game {
        margin: 0 auto;
        margin-top: 25px;
        font-family: Roboto-Regular, sans-serif;
        color: #777777;
        font-size: 18px;
        line-height: 34px;

        span {
            font-family: Roboto-Bold;
            color: #52BEDC;
        }
    }

    .photo-game {
        display: flex;
        gap: 32px;
        margin-top: 70px;

        .two-photo {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        .photo {
            @include photoTransform();
        }
    }
}

.competition {
    position: relative;
    padding-top: 70px;
    padding-bottom: 140px;
    margin: 0;
    background-color: black;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/img1.svg");
        width: 100%;
        height: 70px;
        left: 0;
        top: 0;
        background-repeat: repeat-x;
    }

    .competition-section {
        width: 80%;
        margin: 0 auto;

        .competition-h {
            display: flex;
            padding-top: 15px;

            h1 {
                padding-top: 70px;
                padding-left: 32px;
                padding-bottom: 14px;
                color: #FFF;
                @include h();
            }
            
        }

        p {
            width: 60%;
            font-family: Roboto-Regular, sans-serif;
            padding: 0;
            margin: 0;
            padding-top: 25px;
            font-size: 18px;
            color: #FFF;
            line-height: 34px;

            span {
                font-family: Roboto-Bold;
                color: #52BEDC;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("../../images/img2.svg");
        width: 100%;
        height: 70px;
        left: 0;
        bottom: 0;
        background-repeat: repeat-x;
    }
}

.competition-main {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

    .competition-form-img {
        width: 70%;
        display: flex;
        gap: 32px;

        form {
            margin-top: 73px;
            display: flex;
            flex-direction: column;
            gap: 35px;
            width: 460px;

            .name {
                padding-bottom: 13px;
                background-color: black;
                border: none;
                border-bottom: 1px solid #777777;
                font-size: 18px;
                color: #FFF;
                font-family: Roboto-Regular;

                &::placeholder {
                    font-size: 18px;
                    color: #FFF;
                    font-family: Roboto-Regular;
                }
            }

            .email {
                padding-bottom: 13px;
                background-color: black;
                border: none;
                border-bottom: 1px solid #777777;
                font-size: 18px;
                color: #FFF;
                font-family: Roboto-Regular;

                &::placeholder {
                    font-size: 18px;
                    color: #FFF;
                    font-family: Roboto-Regular;
                }
            }

            .file {
                position: relative;
                display: flex;
                flex-direction: column;
                border: 1px dashed #777777;
                padding: 39px 137px;
                text-wrap: nowrap;
                justify-content: center;
                align-items: center;

                .label-for-file {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }

                .text-file {
                    font-size: 18px;
                    font-family: Roboto-Regular;
                    color: #FFF;

                    hr {
                        margin: 0;
                        padding: 0;
                    }
                }

                .text-type-file {
                    margin-top: 7px;
                    font-size: 12px;
                    font-family: Roboto-Regular;
                    color: #FFF;
                }
            }

            .btn-form {
                display: flex;
                flex-direction: column;

                button {
                    width: 192px;
                    height: 59px;
                    background-color: #F8F200;
                    font-size: 18px;
                    font-family: Roboto-Bold;
                }
            }
        }

        .competition-img {
            display: flex;

            .xbox {
                width: 200px;
                height: 200px;
            }

            .ps5 {
                width: 200px;
                height: 200px;
            }
        }
    }
}

.checkbox-form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    color: #FFF;
    font-size: 12px;
    font-family: Roboto-Regular;

    input {
        padding: 0;
        margin: 0;
        margin-right: 10px;
    }
}

.competition-img {
    display: flex;
    margin-top: 25px;
}

.advertising {
    background-color: #F8F200;
}

.advertising-main {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0;
    width: 80%;
    gap: 32px;

    .advertising-image {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 26px;

        .adv-logo {
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        .hp-monitor {
            width: 100%;
        }
    }

    .advertising-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0;
        padding: 0;

        h1 {
            @include h();
            margin-bottom: 25px;
        }

        p {
            font-size: 18px;
            font-family: Roboto-Regular, sans-serif;
            margin: 0;
            line-height: 34px;
            margin-bottom: 25px;
        }
    }
}

.adv-text-characteristics {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .chr1 {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-family: Roboto-Regular, sans-serif;
            font-size: 18px;
        }
    }

    .chr2 {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-family: Roboto-Regular, sans-serif;
            font-size: 18px;
        }
    }

    .chr3 {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            font-family: Roboto-Regular, sans-serif;
            font-size: 18px;
        }
    }
}

.adv-button {
    display: flex;
    width: 192px;
    height: 59px;
    flex-direction: column;

    .text-button {
        background-color: black;
        color: #F8F200;
        font-size: 18px;
        padding: 19px 50px;
        font-family: Roboto-Bold;
        text-decoration: none;
    }
}

.game {
    background-color: black;

    .game-main {
        display: flex;
        flex-basis: 50%;
        gap: 32px;

        .game-main-img {
            width: 50%;
            object-fit: cover;
        }
    }
}

.game-buy {
    margin: 70px 0;

    h1 {
        color: #FFF;
        @include h();
        margin-bottom: 25px;
    }
}

.game-set {
    margin-bottom: 70px;

    h2 {
        font-size: 24px;
        font-family: Robot-Bold, sans-serif;
        color: #52BEDC;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
    }

    .game-set-container {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .game-container-1 {
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                font-family: Roboto-Regular, sans-serif;
                font-size: 18px;
                color: #FFF;
            }
        }

        .game-container-2 {
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                font-family: Roboto-Regular, sans-serif;
                font-size: 18px;
                color: #FFF;
            }
        }

        .game-container-3 {
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                font-family: Roboto-Regular, sans-serif;
                font-size: 18px;
                color: #FFF;
            }
        }
    }
}

.game-platform {

    h2 {
        font-size: 24px;
        font-family: Robot-Bold, sans-serif;
        color: #52BEDC;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
    }

    .game-platform-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 47px;

        .game-plat-cont-1 {
            display: flex;
            gap: 80px;
        }

        .game-plat-cont-2 {
            display: flex;
            gap: 80px;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
}

.footer-main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 13px;

    .footer-main-cont-1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
    }

    .footer-main-cont-2 {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        align-items: center;

        h2 {
            font-size: 18px;
            font-family: Roboto-Regular, sans-serif;
            margin: 0;
            padding: 0;
        }
    }
}

.footer-end {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    h2 {
        font-size: 12px;
        font-family: Roboto-Regular, sans-serif;
        color: #fff;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1440px) {

    .about {
        .photo-game {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 32px;
            margin-top: 70px;
    
            .two-photo {
                display: flex;
                flex-direction: row;
                gap: 32px;
                width: 100%;

                .ph-1 {
                    width: 50%;
                }

                .ph-2 {
                    width: 50%;
                }
            }
    
            .photo {
                @include photoTransform();
            }

            .ph-last {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1150px) {   
    header {
        .header-about {
            margin-left: 30%;
        }
    }

    .competition-form-img {
        flex-direction: column-reverse;
    }
    
    .advertising-main {

        .advertising-image {
            .adv-logo {
                flex-wrap: wrap;
            }
        }
    } 

    .footer-main {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    header {
        .header-main {
            justify-content: center;
            align-items: center;
        }
    }    

    .game {
        .game-main {
            flex-wrap: wrap;

            .game-main-img {
                width: 100%;
            }
        }
    }

    .game-buy {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .advertising-main {
        width: 80%;
        flex-wrap: wrap;

        .advertising-image {
            width: 80%;

            .adv-logo {
                flex-wrap: nowrap;
            }
        }

        .advertising-text {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    header {
        margin: 0;
        width: auto;

        .header-main {
            .links {
                gap: 10px;
            }
        }

        .header-about {
            margin: 0;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 30px;
            }

            .about-button {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    .about {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
        }

        .photo-game {
            width: 100%;
            .two-photo {
                flex-direction: column;

                .ph-1 {
                    width: 100%;
                }

                .ph-2 {
                    width: 100%;
                }
            }
        }
    }

    .competition {

        .competition-section {

            .competition-h {
                width: 100%;
                flex-direction: row;
                flex-wrap: nowrap;

                .sale {
                    width: 30px;
                    height: 30px;
                }

                h1 {
                    padding-top: 0;
                    font-size: 30px;
                }
            }

            p {
                width: auto;
                font-size: 16px;
            }
        }
    }

    .competition-main {
        .competition-form-img {
            form {
                width: auto;

                .name {
                    font-size: 16px;
                }

                .email {
                    font-size: 16px;
                }

                .file {
                    width: auto;

                    .text-type-file {
                        visibility: hidden;
                    }

                    .text-file {
                        font-size: 16px;
                    }
                }
            }

            .competition-img {
                width: 200px;

                .xbox {
                    width: 80px;
                    height: 80px;
                }

                .ps5 {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

    .advertising-main {
        justify-content: center;
        width: 80%;
        flex-wrap: wrap;

        .advertising-image {
            justify-content: center;
            width: 80%;

            .adv-logo {
                flex-wrap: wrap;
            }
        }

        .advertising-text {
            width: 100%;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .footer-main {
        .footer-main-cont-1 {
            justify-content: center;
            gap: 0;
        }

        .footer-main-cont-2 {
            margin-top: 25px;
            justify-content: center;
        }
    }
    .game-platform {
        .game-platform-container {

            .game-plat-cont-1 {
                gap: 40px;
            }

            .game-plat-cont-2 {
                gap: 40px;
            }
        }
    } 
    
} 


// @media (max-width: 768px) {
//     body {
//         width: auto;
//     }

//     header {
//         display: flex;
//         flex-direction: column;

//         .header-about {
//             position: relative;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             margin-top: 523px;
//             margin-left: 100px;

//             .about-button {
//                 justify-content: center;
//                 align-items: center;
//             }
//         }  

//         .header-main {
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             gap: 0;
//         }
//     }

//     .about {
//         width: auto;

//         .about-game {
//             width: auto;
//         }

//         .photo-game {
//             width: auto;
//         }
//     }

//     .advertising-main {
//         width: 100%;
//         flex-wrap: wrap;
//     }

//     .adv-logo {
//         flex-direction: column;
//     }

//     .photo-game {
//         flex-direction: column;
//     }

//     .competition {
//         display: flex;
//         flex-direction: column;
//     }

//     .competition-img {
//         flex-direction: column;
//     }

//     .game-main {
//         width: 100%;
//     }

//     .game-main-img {
//         width: 50%;
//     }

//     .footer-main {
//         width: 100%;
//         gap: 0;
//     }
// }



@font-face {
    font-family: Archangelsk;
    src: url("../../fonts/Archangelsk.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    font-weight: lighter;
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    font-weight: bold;
    src: url("../../fonts/Roboto-Bold.ttf");
}