body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  height: 1000px;
}
header::before {
  content: " ";
  z-index: -200;
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  background: url("images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header-main {
  display: flex;
  justify-content: space-between;
}
header .header-main .links {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header-about {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 656px;
  margin-top: 566px;
  justify-content: start;
  padding: 70px;
  background-image: url("images/Rectangle59.png");
  background-repeat: no-repeat;
}
header .header-about h1 {
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
header .header-about .about-button {
  border: 1px solid black;
  margin-top: 25px;
  padding: 19px 50px;
  width: 35%;
  background-color: black;
}
header .header-about .about-button a {
  font-family: Roboto-Bold, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-wrap: nowrap;
  color: #F8F200;
  text-decoration: none;
}

.about {
  margin: 70px auto;
  width: 1280px;
  background-color: #FFF;
}
.about h1 {
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
.about .about-game {
  width: 952px;
  margin: 0;
  margin-top: 25px;
  font-family: Roboto-Regular, sans-serif;
  color: #777777;
  font-size: 18px;
  line-height: 34px;
}
.about .about-game span {
  font-family: Roboto-Bold;
  color: #52BEDC;
}
.about .photo-game {
  display: flex;
  gap: 32px;
  margin-top: 70px;
}
.about .photo-game .two-photo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about .photo-game .photo {
  clip-path: polygon(8% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 15%);
}

.competition {
  position: relative;
  padding-top: 70px;
  padding-bottom: 140px;
  margin: 0;
  background-color: black;
}
.competition::before {
  content: "";
  position: absolute;
  background-image: url("images/img1.svg");
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  background-repeat: repeat-x;
}
.competition .competition-section {
  width: 1280px;
  margin: 0 auto;
}
.competition .competition-section .competition-h {
  display: flex;
  padding-top: 15px;
}
.competition .competition-section .competition-h h1 {
  padding-top: 70px;
  padding-left: 32px;
  padding-bottom: 14px;
  color: #FFF;
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
.competition .competition-section p {
  width: 952px;
  font-family: Roboto-Regular, sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  font-size: 18px;
  color: #FFF;
  line-height: 34px;
}
.competition .competition-section p span {
  font-family: Roboto-Bold;
  color: #52BEDC;
}
.competition::after {
  content: "";
  position: absolute;
  background-image: url("images/img2.svg");
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-repeat: repeat-x;
}

.competition-main {
  margin-top: 25px;
  display: flex;
  width: 1280px;
}
.competition-main .competition-form-img {
  display: flex;
  gap: 32px;
}
.competition-main .competition-form-img form {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 460px;
}
.competition-main .competition-form-img form .name {
  padding-bottom: 13px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #777777;
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .name::placeholder {
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .email {
  padding-bottom: 13px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #777777;
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .email::placeholder {
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .file {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px dashed #777777;
  padding: 39px 137px;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.competition-main .competition-form-img form .file .label-for-file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.competition-main .competition-form-img form .file .text-file {
  font-size: 18px;
  font-family: Roboto-Regular;
  color: #FFF;
}
.competition-main .competition-form-img form .file .text-file hr {
  margin: 0;
  padding: 0;
}
.competition-main .competition-form-img form .file .text-type-file {
  margin-top: 7px;
  font-size: 12px;
  font-family: Roboto-Regular;
  color: #FFF;
}
.competition-main .competition-form-img form .btn-form {
  display: flex;
  flex-direction: column;
}
.competition-main .competition-form-img form .btn-form button {
  width: 192px;
  height: 59px;
  background-color: #F8F200;
  font-size: 18px;
  font-family: Roboto-Bold;
}

.checkbox-form {
  display: flex;
  align-items: center;
  width: 788px;
  margin-top: 15px;
  color: #FFF;
  font-size: 12px;
  font-family: Roboto-Regular;
}
.checkbox-form input {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.competition-img {
  display: flex;
  margin-top: 25px;
}

.advertising {
  background-color: #F8F200;
}

.advertising-main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 70px 0;
  width: 1280px;
  gap: 32px;
}
.advertising-main .advertising-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
.advertising-main .advertising-image .adv-logo {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.advertising-main .advertising-text {
  display: flex;
  flex-direction: column;
  width: 624px;
  margin: 0;
  padding: 0;
}
.advertising-main .advertising-text h1 {
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
  margin-bottom: 25px;
}
.advertising-main .advertising-text p {
  font-size: 18px;
  font-family: Roboto-Regular, sans-serif;
  margin: 0;
  line-height: 34px;
  margin-bottom: 25px;
}

.adv-text-characteristics {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.adv-text-characteristics .chr1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.adv-text-characteristics .chr1 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
}
.adv-text-characteristics .chr2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.adv-text-characteristics .chr2 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
}
.adv-text-characteristics .chr3 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.adv-text-characteristics .chr3 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
}

.adv-button {
  display: flex;
  width: 192px;
  height: 59px;
  flex-direction: column;
}
.adv-button .text-button {
  background-color: black;
  color: #F8F200;
  font-size: 18px;
  padding: 19px 50px;
  font-family: Roboto-Bold;
  text-decoration: none;
}

.game {
  background-color: black;
}
.game .game-main {
  display: flex;
  gap: 32px;
}

.game-buy {
  width: 624px;
  margin: 70px 0;
}
.game-buy h1 {
  color: #FFF;
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
  margin-bottom: 25px;
}

.game-set {
  margin-bottom: 70px;
}
.game-set h2 {
  font-size: 24px;
  font-family: Robot-Bold, sans-serif;
  color: #52BEDC;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.game-set .game-set-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.game-set .game-set-container .game-container-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.game-set .game-set-container .game-container-1 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
  color: #FFF;
}
.game-set .game-set-container .game-container-2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.game-set .game-set-container .game-container-2 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
  color: #FFF;
}
.game-set .game-set-container .game-container-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.game-set .game-set-container .game-container-3 span {
  font-family: Roboto-Regular, sans-serif;
  font-size: 18px;
  color: #FFF;
}

.game-platform h2 {
  font-size: 24px;
  font-family: Robot-Bold, sans-serif;
  color: #52BEDC;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.game-platform .game-platform-container {
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.game-platform .game-platform-container .game-plat-cont-1 {
  display: flex;
  gap: 80px;
}
.game-platform .game-platform-container .game-plat-cont-2 {
  display: flex;
  gap: 80px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.footer-main {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 13px;
}
.footer-main .footer-main-cont-1 {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer-main .footer-main-cont-2 {
  display: flex;
  gap: 32px;
  align-items: center;
}
.footer-main .footer-main-cont-2 h2 {
  font-size: 18px;
  font-family: Roboto-Regular, sans-serif;
  margin: 0;
  padding: 0;
}

.footer-end {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.footer-end h2 {
  font-size: 12px;
  font-family: Roboto-Regular, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .header-about {
    position: relative;
    flex-direction: column;
    margin-top: 532px;
    margin-left: 690px;
  }
  header .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about {
    width: 1000px;
  }
  .advertising-main {
    width: 100%;
  }
  .photo-game {
    flex-direction: column;
  }
  .competition-img {
    flex-direction: column;
  }
  .game-main {
    width: 100%;
  }
  .game-main-img {
    width: 50%;
  }
  .footer-main {
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 1024px) {
  body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .header-about {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 523px;
    margin-left: 450px;
  }
  header .header-about .about-button {
    justify-content: center;
    align-items: center;
  }
  header .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about {
    width: 1000px;
  }
  .advertising-main {
    width: 100%;
  }
  .adv-logo {
    flex-direction: column;
  }
  .photo-game {
    flex-direction: column;
  }
  .competition-img {
    flex-direction: column;
  }
  .game-main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .game-main-img {
    width: 50%;
  }
  .footer-main {
    width: 100%;
    gap: 0;
  }
}
@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .header-about {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 523px;
    margin-left: 450px;
  }
  header .header-about .about-button {
    justify-content: center;
    align-items: center;
  }
  header .header-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about {
    width: 1000px;
  }
  .advertising-main {
    width: 100%;
    flex-wrap: wrap;
  }
  .adv-logo {
    flex-direction: column;
  }
  .photo-game {
    flex-direction: column;
  }
  .competition {
    display: flex;
    flex-direction: column;
  }
  .competition-img {
    flex-direction: column;
  }
  .game-main {
    width: 100%;
  }
  .game-main-img {
    width: 50%;
  }
  .footer-main {
    width: 100%;
    gap: 0;
  }
}
@font-face {
  font-family: Archangelsk;
  src: url("fonts/Archangelsk.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  font-weight: lighter;
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  font-weight: bold;
  src: url("fonts/Roboto-Bold.ttf");
}

/*# sourceMappingURL=style.css.map */
