body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  height: 1000px;
}
header::before {
  content: " ";
  z-index: -200;
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  background: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header-main {
  display: flex;
  justify-content: space-between;
}
header .header-main .links {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header-about {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 656px;
  margin-top: 566px;
  justify-content: start;
  padding: 70px;
  background-image: url("/images/Rectangle59.png");
  background-repeat: no-repeat;
}
header .header-about h1 {
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
header .header-about .about-button {
  border: 1px solid black;
  margin-top: 25px;
  padding: 19px 50px;
  width: 35%;
  background-color: black;
}
header .header-about .about-button a {
  font-family: Roboto-Bold, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-wrap: nowrap;
  color: #F8F200;
  text-decoration: none;
}

.about {
  margin: 70px auto;
  width: 1280px;
  background-color: #FFF;
}
.about h1 {
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
.about .about-game {
  width: 952px;
  margin: 0;
  margin-top: 25px;
  font-family: Roboto-Regular, sans-serif;
  color: #777777;
  font-size: 18px;
  line-height: 34px;
}
.about .about-game span {
  font-family: Roboto-Bold;
  color: #52BEDC;
}
.about .photo-game {
  display: flex;
  gap: 32px;
  margin-top: 70px;
}
.about .photo-game .two-photo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about .photo-game .photo {
  clip-path: polygon(8% 0, 100% 0, 100% 84%, 91% 100%, 0 100%, 0 15%);
}

.competition {
  position: relative;
  padding-top: 70px;
  padding-bottom: 140px;
  margin: 0;
  background-color: black;
}
.competition::before {
  content: "";
  position: absolute;
  background-image: url("/images/img1.svg");
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  background-repeat: repeat-x;
}
.competition .competition-section {
  width: 1280px;
  margin: 0 auto;
}
.competition .competition-section .competition-h {
  display: flex;
  padding-top: 15px;
}
.competition .competition-section .competition-h h1 {
  padding-top: 70px;
  padding-left: 32px;
  padding-bottom: 14px;
  color: #FFF;
  font-family: Archangelsk, sans-serif;
  font-weight: normal;
  font-size: 62px;
  margin: 0;
}
.competition .competition-section p {
  width: 952px;
  font-family: Roboto-Regular, sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  font-size: 18px;
  color: #FFF;
  line-height: 34px;
}
.competition .competition-section p span {
  font-family: Roboto-Bold;
  color: #52BEDC;
}
.competition::after {
  content: "";
  position: absolute;
  background-image: url("/images/img2.svg");
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-repeat: repeat-x;
}

.competition-main {
  margin-top: 25px;
  display: flex;
  width: 1280px;
}
.competition-main .competition-form-img {
  display: flex;
  gap: 32px;
}
.competition-main .competition-form-img form {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 460px;
}
.competition-main .competition-form-img form .name {
  padding-bottom: 13px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #777777;
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .name::placeholder {
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .email {
  padding-bottom: 13px;
  background-color: black;
  border: none;
  border-bottom: 1px solid #777777;
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .email::placeholder {
  font-size: 18px;
  color: #FFF;
  font-family: Roboto-Regular;
}
.competition-main .competition-form-img form .file {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px dashed #777777;
  padding: 39px 137px;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.competition-main .competition-form-img form .file .label-for-file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.competition-main .competition-form-img form .file .text-file {
  font-size: 18px;
  font-family: Roboto-Regular;
  color: #FFF;
}
.competition-main .competition-form-img form .file .text-file hr {
  margin: 0;
  padding: 0;
}
.competition-main .competition-form-img form .file .text-type-file {
  margin-top: 7px;
  font-size: 12px;
  font-family: Roboto-Regular;
  color: #FFF;
}
.competition-main .competition-form-img form .btn-form {
  display: flex;
  flex-direction: column;
}
.competition-main .competition-form-img form .btn-form button {
  width: 192px;
  height: 59px;
  background-color: #F8F200;
  font-size: 18px;
  font-family: Roboto-Bold;
}

.checkbox-form {
  width: 788px;
  margin-top: 15px;
  color: #FFF;
  font-size: 12px;
  font-family: Roboto-Regular;
}
.checkbox-form input {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.competition-img {
  margin-top: 25px;
}

@font-face {
  font-family: Archangelsk;
  src: url("/fonts/Archangelsk.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  font-weight: lighter;
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  font-weight: bold;
  src: url("/fonts/Roboto-Bold.ttf");
}

/*# sourceMappingURL=style.css.map */
